# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build artifacts
/build/
bin/
dist/

# Dependency directories (when using vendoring)
vendor/

# IDE/editor files
.vscode/
!.vscode/launch.json

# Logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# Local caches
.cache/
# question: still don't understand teh why we even need the cache here.

# Drafts folders
drafts
